/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Taviraj');
$taviraj: 'Taviraj', serif;
$body-font-family: 'Helvetica Neue',Taviraj, Helvetica, Roboto, Arial, sans-serif;
$topbar-background: black;
.top-bar-title {
  font-family: 'Coiny', cursive;
  font-size: 22px;
  color: #ffffff
}

.nav-menu a {
  color: #ffffff!important;
}

@import "../node_modules/foundation-sites/assets/foundation-flex";
@import "../node_modules/foundation-sites/scss/settings/_settings";